
    <h1>Uptime Monitoring</h1>
    <h2>Made Simple</h2>

    <div class="blurb">
        We offer free, simple uptime monitoring for HTTP/HTTPS site of all kinds. When your site goes down, we\'ll send you a text message to let you know
        
        <p style="margin-top: 30px; font-size: 13px;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sequi ipsam ratione illum veritatis est quo sapiente! Eos itaque earum, distinctio vel voluptatem harum consectetur illum ipsum vitae recusandae neque.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam unde, dicta, quis cumque voluptatem tempore magnam sapiente quae facilis reiciendis soluta quam officia ad natus? Earum quo rerum similique nisi!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, beatae doloribus consequatur dolor blanditiis quam, doloremque maiores modi repudiandae suscipit nihil ea earum at soluta quis aliquid? Obcaecati, sint iure!
        </p>

        <p style="margin-top: 30px; font-size: 13px;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sequi ipsam ratione illum veritatis est quo sapiente! Eos itaque earum, distinctio vel voluptatem harum consectetur illum ipsum vitae recusandae neque.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam unde, dicta, quis cumque voluptatem tempore magnam sapiente quae facilis reiciendis soluta quam officia ad natus? Earum quo rerum similique nisi!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, beatae doloribus consequatur dolor blanditiis quam, doloremque maiores modi repudiandae suscipit nihil ea earum at soluta quis aliquid? Obcaecati, sint iure!
        </p>
    </div>

    <div class="ctaWrapper">
        <a href="account/create" class="cta green">Get Started</a>
        <a href="session/create" class="cta blue">Login</a>
    </div>
